:root {
  font: 16px / 1 sans-serif;
  display: flex;
  justify-content: center;
}

html {
  height: 100%;
  background: rgb(96, 120, 122);
  background: linear-gradient(
    141deg,
    rgba(96, 120, 122, 1) 38%,
    rgba(148, 118, 137, 1) 70%
  );
}

main {
  display: flex;
  width: 80vw;
  justify-content: center;
}

div .header {
  display: flex;
  justify-content: center;
}

body {
  // margin: 0;
  min-height: 100%;
  // border: groove;
  width: 80vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: groove;
}

article {
  display: flex;
  justify-content: center;
  border: groove;
  // margin: 50px;
  padding: 0px 100px 0px 100px;
  max-width: 500px;
  background: rgb(159, 70, 146);
  background: linear-gradient(
    141deg,
    rgba(159, 70, 146, 1) 38%,
    rgba(118, 148, 142, 1) 70%
  );
}

div .movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: center;
  margin: 100px 100px 0px 100px;
  border: groove;
  padding: 1em;
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}
h1 {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}

p {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
}
